.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #54054b;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #3a0030;
}

@media (max-width: 1024px) {
  .project-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}
